.container{
    display: flex;        
    background-color: #342A45;
    height: 300px;    
}

.button{
    background:linear-gradient(45deg,#6c35de,#a364ff,#ffc7ff,#cb80ff);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;    
    font-size: 42px;    
}

.button:hover{
    background:linear-gradient(25deg,#A364FF,#FFC7FF);
    color: #342A45;
    font-weight: 900
}
.container_1{
    justify-content: center;  
    margin-left: 70em;
    margin-top: 150px;
}
.container_2{
    margin-left: 570px;
    align-items: left;
    margin-top: 60px;
}
